body {
  margin: 0px;
}

#bang {
  padding-top: 25%;
  width: 100%;
  background-image: url('Images/Team.JPG');
  background-size: 100% auto;
  animation-name: blur;
  animation-duration: 3s;
  font-size: 70px;
  font-family: 'Fjalla One', sans-serif;
  color: #4CBB17;
}

@keyframes blur {
  from {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    font-size: 0px;
  }
  60% {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    font-size: 0px;
  }
  to {
    font-size: 70px;
  }
}

#nav {
  position: sticky;
  width: 100%;
  background-color: black;
  transition: 0.5s;
}

#name {
  font-size: 20px;
  padding: 12px;
}

.nav {
  float: right;
  padding: 16px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.nav:hover, .dropdown a:hover {
  background-color: #EEEEEE;
  color: #4CBB17;
}

.nav .active {
  background-color: #4CBB17;
  color: white;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdownbtn:hover .dropdown {
  display: block;
}
